<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="SimploNews Article">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../images/simplonlogo.png" />
    <title>SimploNews</title>
    <link rel="stylesheet" href="../css/article.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <header>
        <div id="banner">


            <img src="../images/SimplonNews.png" alt="banner">

        </div>

        <nav id="nav">
            <ul>
                <li class="logo"><img src="../images/simplonlogo.png" alt="logo"></li>
                <li><a class="linknav active" href="./index.html">ACCUEIL</a></li>
                <li><a class="linknav" href="./login.html">CONNECTEZ-VOUS</a></li>

            </ul>
        </nav>
    </header>
    <section>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
        <div id="share_images">



            <img src="../images/share_facebook.png" alt="facebook">
            <img src="../images/share_twitter.png" alt="twitter">
        </div>
        <article>
            <img src="../images/SimplonNews.png" alt="banner">
            <p id="author">Lorem ipsum</p>
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, laboriosam! Expedita enim exercitationem dolor non nobis commodi tenetur mollitia sed harum voluptate magni placeat magnam, blanditiis provident doloremque illo iure.</h2>
            <p id="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, quaerat, harum debitis dignissimos, dolor atque expedita voluptatem quod ad voluptates tempore nisi vel aliquid numquam repellendus earum hic iste non?Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Neque esse provident numquam. Natus consectetur numquam in inventore, magnam maxime. Veritatis, fuga labore sequi necessitatibus soluta voluptates molestias nulla quibusdam hic. Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Laudantium nemo odio sed cumque officiis quae, est rem excepturi omnis, consequuntur quaerat explicabo magni eos deleniti tempora impedit, blanditiis ea dolor.</p>

        </article>
    </section>

    <script src="../js/article.js"></script>
</body>

</html>