<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/main.css">


    <title>SimploNews</title>
</head>

<body>
    <header>
        <div id="banner">


            <img src="../images/SimplonNews.png" alt="banner">

        </div>



        <nav id="nav">

            <ul>
                <a href="#" class="alogo"><img class="logo" src="../images/simplonlogo.png" alt="logo"></a>
                <li><a class="linknav active " href="./home.html">ACCUEIL</a></li>
                <li><a class="linknav " href="./login.html">CONNECTEZ-VOUS</a></li>
                <a href="javascript:deconnecter();" class="alogo">Deconnecter</a>

            </ul>
        </nav>
        <div class="burger">
            <span></span>
            <span></span>

        </div>
    </header>
    <section id="home" class="home">
        <article class="firstSection">

            <figure class="bulleArticle1">

                <img src="#" alt="#">

                <figcaption id="home">

                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam nisi quis quam ducimus incidunt quos rerum iure reiciendis? Eius fugiat animi porro nihil ratione quia odit iusto. Commodi, numquam placeat!

                </figcaption>
                <div class="lirePlus">
                    <p>
                        <a href="#">En savoir plus...</a>
                    </p>
                </div>
            </figure>

            <figure class="bulleArticle2">

                <img src="#" alt="#">

                <figcaption>

                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam nisi quis quam ducimus incidunt quos rerum iure reiciendis? Eius fugiat animi porro nihil ratione quia odit iusto. Commodi, numquam placeat!

                </figcaption>
                <div class="lirePlus">
                    <p>
                        <a href="#">En savoir plus...</a>
                    </p>
                </div>
            </figure>



        </article>



    </section>

    <footer>
        <section class="footerTop">

            <div class="footer-left">
                <h3>A propos de nous</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis deserunt totam ab non. Incidunt ratione, debitis eaque quae provident, et, magni dolores unde veritatis reiciendis aliquam. Doloremque rem natus praesentium.</p>

            </div>

            <div class="footer-right">
                <h3>suivez-nous</h3>
                <ul class="socials">
                    <li>
                        <a href="#"><img class="facebook" src="../image/facebook.png" alt="facebook"></img>
                        </a>
                    </li>
                    <li>
                        <a href="#"><img class="instagram" src="../image/instagram.png" alt="instagram"></img>
                        </a>
                    </li>
                    <li>
                        <a href="#"><img class="linkdlin" src="../image/linkedlin.png" alt="linkdlin"></img>
                        </a>
                    </li>
                    <li>
                        <a href="#"><img class="youtube" src="../image/youtube.png" alt="youtube"></img>
                        </a>
                    </li>
                    <li>
                        <a href="#"><img class="twitter" src="../image/twitter.png" alt="twitter"></img>
                        </a>
                    </li>
                </ul>

            </div>
        </section>
        <div class="footer-bottom">
            <p>copyright &copy;2021. designed by <span>Zeliha,SamiraandJerome</span></p>
        </div>

    </footer>




    <script src="../js/home.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/login.js"></script>

</body>

</html>